@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,600&display=swap');

/* ------------------------------------- Root Styling properties ------------------------------------- */

:root {
    --active-link-color: #C1554D;
    --bg-color: rgba(229, 201, 93, 0.89);
    --button-background-color: #75312D;
    --button-hover-background-color: #E05E4F;
    --button-text-color: #FFEACC;
    --fieldset-border: 0.1875rem solid #E05E4F;
    --fieldset-color: #39100D;
    --heading-text-color: #75312D;
    --input-background-color: #F4A298;
    --input-focus-box-shadow: inset 0 0 .3125rem #39100D;
    --input-focus-color: #39100D;
    --label-color: #E05E4F;
    --legend-color: #E05E4F;
    --paragraph-text-color: #4b1512;
    --placeholder-color: #39100D;
    --special-link-hover-color: #DF3028;
    --special-link-color: #75312D;
    --textarea-background-color: #F4A298;
    --theme-switch-background-color: #F0E28D;
    --timeline-content-border-background-color: #75312D;
}

/* ------------------------------------- Dark theme Styling properties ------------------------------------- */

[data-theme=dark] {
    --active-link-color: #FE8A7E;
    --bg-color: rgba(187, 90, 25, 0.89);
    --button-background-color: #F0E28D;
    --button-hover-background-color: #D1584A;
    --button-text-color: #39100D;
    --fieldset-border: .1875rem solid #F3CDBB;
    --fieldset-color: #F0E28D;
    --heading-text-color: #F0E28D;
    --input-background-color: #F4A298;
    --input-focus-box-shadow: inset 0 0 .3125rem #39100D;
    --input-focus-color: #420E0B;
    --label-color: #F0E28D;
    --legend-color: #F0E28D;
    --paragraph-text-color: #F0E28D;
    --placeholder-color: #39100D;
    --special-link-hover-color: #E05E4F;
    --special-link-color: #F0E28D;
    --textarea-background-color: #F4A298;
    --theme-switch-background-color: #8F3E08;
    --timeline-content-border-background-color: #F0E28D;
}

/* ------------------------------------- HTML elements Styling properties ------------------------------------- */

* {margin: 0;padding: 0;scroll-behavior: smooth}

body,html {overflow-x: hidden}

html {box-sizing: border-box;margin: 0;padding: 0;scroll-behavior: smooth}

body {box-sizing: border-box;display: flex;align-items: center;justify-content: center;font-family: "Roboto Flex", sans-serif;font-size: calc(16px + (21 - 16) * ((100vw - 300px)/ (2500 - 300)));line-height: 1.6;margin-left: auto;margin-right: auto;width: 100%;scroll-behavior: smooth}

/* ------------------------------------- Paragraph Styling properties ------------------------------------- */

p {
    max-width: calc(45ch + (75 - 45) * ((100vw - 300px)/ (2500 - 300)));
    color: var(--paragraph-text-color);
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    letter-spacing: .0625em;
    line-height: 1.7;
    scroll-behavior: smooth
}

p.full-length-text {max-width: 100%;letter-spacing: .0625em;line-height: 1.9}

/* ------------------------------------- Heading Styling properties ------------------------------------- */

h1,h2,h3,h4,h5,h6 {
    color: var(--heading-text-color);
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    letter-spacing: .0700em;
    text-transform: uppercase;
    scroll-behavior: smooth
}

h1 {font-size: calc(33px + (99 - 33) * ((100vw - 300px)/ (2500 - 300)))}
h2 {font-size: calc(30px + (55 - 30) * ((100vw - 300px)/ (2500 - 300)))}
h3 {font-size: calc(27px + (33 - 27) * ((100vw - 300px)/ (2500 - 300)))}
h4 {font-size: calc(24px + (25 - 24) * ((100vw - 300px)/ (2500 - 300)))}
h5 {font-size: calc(21px + (23 - 21) * ((100vw - 300px)/ (2500 - 300)))}
h6,.h6 {font-size: calc(18px + (21 - 18) * ((100vw - 300px)/ (2500 - 300)))}

/* ------------------------------------- Strong Styling properties ------------------------------------- */

strong {font-family: "Roboto Flex", sans-serif;color: var(--paragraph-text-color)}

/* ------------------------------------- Image Styling properties ------------------------------------- */

img {height: auto;max-width: 100%;}

/* ------------------------------------- Achor tag styling properties ------------------------------------- */

a {font-family: Roboto, sans-serif;text-decoration: none;}

/* ------------------------------------- Form elements styling properties ------------------------------------- */

fieldset {
    color: var(--fieldset-color);
    border: var(--fieldset-border);
    border-radius: .5rem;
    padding: .5rem;
    scroll-behavior: smooth
}

legend {
    color: var(--legend-color);
    font-family: "Roboto Flex", sans-serif;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: .0625em;
    scroll-behavior: smooth
}

::placeholder {
    color: var(--placeholder-color);
    font-family: "Roboto Flex", sans-serif;
    font-weight: 600;
    opacity: 1;
}

:-moz-placeholder {
    color: var(--placeholder-color);
}

::-ms-placeholder {
    color: var(--placeholder-color);
}

label {
    color: var(--label-color);
    font-family: "Roboto Flex", sans-serif;
    font-weight: 600;
    letter-spacing: .0625em;
    scroll-behavior: smooth
}

input[type=text] {
    width: 100%;
    padding: .8125rem 1.3125rem;
    margin: .8125rem 0;
    background-color: var(--input-background-color);
    box-sizing: border-box;
    border: none;
    border-radius: .5rem;
    letter-spacing: .0625em;
    -o-transition: box-shadow 144ms ease-in-out;
    -ms-transition: box-shadow 144ms ease-in-out;
    -moz-transition: box-shadow 144ms ease-in-out;
    -webkit-transition: box-shadow 144ms ease-in-out;
    transition: box-shadow 144ms ease-in-out;
    -o-transition: color 144ms ease-in-out;
    -moz-transition: color 144ms ease-in-out;
    -webkit-transition: color 144ms ease-in-out;
    transition: color 144ms ease-in-out;
    outline: 0;
    scroll-behavior: smooth
}

input[type=text]:focus {
    -o-box-shadow: var(--input-focus-box-shadow); 
    -ms-box-shadow: var(--input-focus-box-shadow);
    -moz-box-shadow: var(--input-focus-box-shadow);
    -webkit-box-shadow: var(--input-focus-box-shadow);
    box-shadow: var(--input-focus-box-shadow);
    color: var(--input-focus-color);
    scroll-behavior: smooth
}

input[type=email]:focus {
    -o-box-shadow: var(--input-focus-box-shadow);
    -ms-box-shadow: var(--input-focus-box-shadow);
    -moz-box-shadow: var(--input-focus-box-shadow);
    -webkit-box-shadow: var(--input-focus-box-shadow);
    box-shadow: var(--input-focus-box-shadow);
    color: var(--input-focus-color);
    scroll-behavior: smooth
}

textarea:focus {
    -o-box-shadow: var(--input-focus-box-shadow);
    -ms-box-shadow: var(--input-focus-box-shadow);
    -moz-box-shadow: var(--input-focus-box-shadow);
    -webkit-box-shadow: var(--input-focus-box-shadow);
    box-shadow: var(--input-focus-box-shadow);
    color: var(--input-focus-color);
    scroll-behavior: smooth
}

input[type=email] {
    width: 100%;
    padding: .8125rem 1.3125rem;
    margin: .8125rem 0;
    background-color: var(--input-background-color);
    box-sizing: border-box;
    border: none;
    border-radius: .5rem;
    letter-spacing: .0625em;
    -o-transition: box-shadow 144ms ease-in-out;
    -ms-transition: box-shadow 144ms ease-in-out;
    -moz-transition: box-shadow 144ms ease-in-out;
    -webkit-transition: box-shadow 144ms ease-in-out;
    transition: box-shadow 144ms ease-in-out;
    -o-transition: color 144ms ease-in-out;
    -moz-transition: color 144ms ease-in-out;
    -webkit-transition: color 144ms ease-in-out;
    transition: color 144ms ease-in-out;
    outline: 0;
    scroll-behavior: smooth
}

textarea {
    width: 100%;
    padding: .8125rem 1.3125rem;
    margin: .8125rem 0;
    background-color: var(--textarea-background-color);
    box-sizing: border-box;
    border: none;
    border-radius: .5rem;
    letter-spacing: .0625em;
    -o-transition: box-shadow 144ms ease-in-out;
    -ms-transition: box-shadow 144ms ease-in-out;
    -moz-transition: box-shadow 144ms ease-in-out;
    -webkit-transition: box-shadow 144ms ease-in-out;
    transition: box-shadow 144ms ease-in-out;
    -o-transition: color 144ms ease-in-out;
    -moz-transition: color 144ms ease-in-out;
    -webkit-transition: color 144ms ease-in-out;
    transition: color 144ms ease-in-out;
    outline: 0;
    scroll-behavior: smooth
}

/* ------------------------------------- Button tag styling properties ------------------------------------- */

button {
    background-color: var(--button-background-color);
    border: none;
    border-radius: .5rem;
    color: var(--button-text-color);
    cursor: pointer;
    font-family: "Roboto Flex", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .0625em;
    padding: .8125rem 1.3125rem .8125rem 1.3125rem;
    -o-transition: background-color 210ms ease-in-out;
    -ms-transition: background-color 210ms ease-in-out;
    -moz-transition: background-color 210ms ease-in-out;
    -webkit-transition: background-color 210ms ease-in-out;
    transition: background-color 210ms ease-in-out;
    outline: 0;
    scroll-behavior: smooth
}

button:hover {background-color: #5C1511;}

/* ------------------------------------- Figcaption Styling properties ------------------------------------- */

figcaption {
    color: var(--paragraph-text-color);
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    letter-spacing: .0625em;
    line-height: 1.7;
    scroll-behavior: smooth
}

/* ------------------------------------- small Styling properties ------------------------------------- */

small {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 600;
    color: var(--paragraph-text-color);
    display: block;
    text-align: center;
}

/* ------------------------------------- General Styling properties ------------------------------------- */

.container-fluid {width: 100%;padding-right: 0;padding-left: 0;margin-right: auto;margin-left: auto;scroll-behavior: smooth}

/* ------------------------------------- Background Image ------------------------------------- */

.bg-image {
    background: url("../illustrations/custom_portfolio_background_image.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ------------------------------------- Background Image ------------------------------------- */

.bg-color {background-color: var(--bg-color);} 

/* ------------------------------------- Special Image Styling properties ------------------------------------- */

.special-img {
    height: auto;
    max-width: 100%;
    border-radius: 1rem;
}

/* ------------------------------------- Site preview link Styling properties ------------------------------------- */

.site-preview-link {
    color: var(--active-link-color);
}

/* ------------------------------------- Two column styling properties ------------------------------------- */

.two-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.125rem
}

/* ------------------------------------- Two column styling properties ------------------------------------- */

.multiple-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.125rem
}

/* ------------------------------------------ Timeline content styling properties ------------------------------------------ */

.timeline {
    position: relative;
    max-width: 100%;
    margin: 0 auto
}

.timeline::after {
    content: '';
    position: absolute;
    width: .3125rem;
    background-color: var(--timeline-content-border-background-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1.3rem
}

.timeline-content-container {
    padding: 1rem 0.2rem;
    position: relative;
    background-color: inherit;
    width: 50%
}

.timeline-content-container::after {
    content: '';
    position: absolute;
    width: 2.125rem;
    height: 2.125rem;
    right: 0.2rem;
    -o-box-shadow: inset 0 0 .5rem #39100D;
    -ms-box-shadow: inset 0 0 .5rem #39100D;
    -moz-box-shadow: inset 0 0 .5rem #39100D;
    -webkit-box-shadow: inset 0 0 .5rem #39100D;
    box-shadow: inset 0 0 .5rem #39100D;
    background-color: #ffcb41;
    border: .3125rem solid #ffb55e;
    top: 1.3rem;
    border-radius: 50%;
    z-index: 1
}

.timeline-content-container:hover::after {
    background-color: rgb(5, 223, 5);
    -o-transition: background-color 144ms ease-in-out;
    -ms-transition: background-color 144ms ease-in-out;
    -moz-transition: background-color 144ms ease-in-out;
    -webkit-transition: background-color 144ms ease-in-out;
    transition: background-color 144ms ease-in-out;
    border: .3125rem solid #05CB13;
    box-shadow: 0rem 0rem 0.1825rem 0.125rem rgb(5, 223, 5);
    -o-transition: box-shadow 144ms ease-in-out;
    -ms-transition: box-shadow 144ms ease-in-out;
    -moz-transition: box-shadow 144ms ease-in-out;
    -webkit-transition: box-shadow 144ms ease-in-out;
    transition: box-shadow 144ms ease-in-out;
}

.timeline-content-left {
    left: 0
}

.timeline-content-right {
    left: 50%
}

.timeline-content-right::after {
    left: -2.6rem
}

.timeline-content {
    padding: 1rem 1rem;
    position: relative;
    border-radius: 1.3125rem
}

@media screen and (max-width:900px) {
    .timeline::after {
        left: 1.55rem
    }

    .timeline-content-container {
        width: 100%;
        padding-left: 1.3125rem;
        padding-right: .0625rem
    }

    .timeline-content-left::after,
    .timeline-content-right::after {
        left: -1rem
    }

    .timeline-content-right {
        left: 0
    }
}

/* ------------------------------------------ Card content styling properties ------------------------------------------ */

.breadcrumb {
    display: block;
    list-style-type: none;
    text-align: left;
}

.breadcrumb-link {
    padding: .7rem 0 .5rem 0;
}

.breadcrumb-link-item {
    width: 100%;
}

.breadcrumb-link,
.breadcrumb-link-item {
    color: var(--paragraph-text-color);
    -o-transition: color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -webkit-transition: color 100ms ease-in-out;
    transition: color 100ms ease-in-out;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 600;
}

.breadcrumb-link-item:hover {
    color: var(--active-link-color);
    cursor: pointer;
    scroll-behavior: smooth
}

.active-breadcrumb-link-item {
    color: var(--active-link-color);
    font-family: "Roboto Flex", sans-serif;
    font-weight: 600;
}

/* ------------------------------------- Social Link icons Styling properties ------------------------------------- */

.social-link-item a  {
    color: var(--paragraph-text-color);
    font-weight: 300;
    -o-transition: color 210ms ease-in-out;
    -moz-transition: color 210ms ease-in-out;
    -webkit-transition: color 210ms ease-in-out;
    transition: color 210ms ease-in-out
}

.social-link-item a:hover {
    color: var(--active-link-color);
    -o-transition: color 34ms ease-in-out;
    -ms-transition: color 34ms ease-in-out;
    -moz-transition: color 34ms ease-in-out;
    -webkit-transition: color 34ms ease-in-out;
    transition: color 34ms ease-in-out;
}

/* ------------------------------------- Text center Styling properties ------------------------------------- */

.text-center {
    text-align: center;
}

.copyright-content {
    color: var(--paragraph-text-color);
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    letter-spacing: .0625em;
    line-height: 1.7;
    scroll-behavior: smooth
}

/* ------------------------------------- Terms and policies Styling properties ------------------------------------- */

.terms-and-policies-link {
    color: var(--paragraph-text-color);
    -o-transition: color 34ms ease-in-out;
    -ms-transition: color 34ms ease-in-out;
    -moz-transition: color 34ms ease-in-out;
    -webkit-transition: color 34ms ease-in-out;
    transition: color 34ms ease-in-out;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
}

.terms-and-policies-link:hover {
    color: var(--active-link-color);
    -o-transition: color 34ms ease-in-out;
    -ms-transition: color 34ms ease-in-out;
    -moz-transition: color 34ms ease-in-out;
    -webkit-transition: color 34ms ease-in-out;
    transition: color 34ms ease-in-out;
}

/* ------------------------------------- icon Styling properties ------------------------------------- */

.icon {
    height: 1.3125rem;
    width: auto;
}

/* ------------------------------------- Padding Styling properties ------------------------------------- */

.p1 {padding-left: 1.3125rem;padding-top: 1.3125rem;padding-right: 1.3125rem;padding-bottom: 1.3125rem}

.pl-1 {padding-left: 1.3125rem}
.pt-1 {padding-top: 1.3125rem}
.pr-1 {padding-right: 1.3125rem}
.pb-1 {padding-bottom: 1.3125rem}

.p2 {padding-left: 2.125rem;padding-top: 2.125rem;padding-right: 2.125rem;padding-bottom: 2.125rem}

.pl-2 {padding-left: 2.125rem}
.pt-2 {padding-top: 2.125rem}
.pr-2 {padding-right: 2.125rem}
.pb-2 {padding-bottom: 2.125rem}

.p3 {padding-left: 3.4375rem;padding-top: 3.4375rem;padding-right: 3.4375rem;padding-bottom: 3.4375rem}

.pl-3 {padding-left: 3.4375rem}
.pt-3 {padding-top: 3.4375rem}
.pr-3 {padding-right: 3.4375rem}
.pb-3 {padding-bottom: 3.4375rem}

.p4 {padding-left: 5.5625rem;padding-top: 5.5625rem;padding-right: 5.5625rem;padding-bottom: 5.5625rem}

.pl-4 {padding-left: 5.5625rem}
.pt-4 {padding-top: 5.5625rem}
.pr-4 {padding-right: 5.5625rem}
.pb-4 {padding-bottom: 5.5625rem}

.p5 {padding-left: 5.5625rem;padding-top: 5.5625rem;padding-right: 5.5625rem;padding-bottom: 5.5625rem}

.pl-5 {padding-left: 5.5625rem}
.pt-5 {padding-top: 5.5625rem}
.pr-5 {padding-right: 5.5625rem}
.pb-5 {padding-bottom: 5.5625rem}

.pt-pb {padding-block: clamp(0.5rem, 1.3125rem, 5.5625rem);}
.pl-pr {padding-left: clamp(0.5rem, 1.3125rem, 5.5625rem);padding-right: clamp(0.5rem, 1.3125rem, 5.5625rem);}


/* ------------------------------------- Margin Styling properties ------------------------------------- */

.m1 {margin-left: 1.3125rem;margin-top: 1.3125rem;margin-right: 1.3125rem;margin-bottom: 1.3125rem}

.ml-1 {margin-left: 1.3125rem}
.mt-1 {margin-top: 1.3125rem}
.mr-1 {margin-right: 1.3125rem}
.mb-1 {margin-bottom: 1.3125rem}

.m2 {margin-left: 2.125rem;margin-top: 2.125rem;margin-right: 2.125rem;margin-bottom: 2.125rem}

.ml-2 {margin-left: 2.125rem}
.mt-2 {margin-top: 2.125rem}
.mr-2 {margin-right: 2.125rem}
.mb-2 {margin-bottom: 2.125rem}

.m3 {margin-left: 3.4375rem;margin-top: 3.4375rem;margin-right: 3.4375rem;margin-bottom: 3.4375rem}

.ml-3 {margin-left: 3.4375rem}
.mt-3 {margin-top: 3.4375rem}
.mr-3 {margin-right: 3.4375rem}
.mb-3 {margin-bottom: 3.4375rem}

.m4 {margin-left: 5.5625rem;margin-top: 5.5625rem;margin-right: 5.5625rem;margin-bottom: 5.5625rem}

.ml-4 {margin-left: 5.5625rem}
.mt-4 {margin-top: 5.5625rem}
.mr-4 {margin-right: 5.5625rem}
.mb-4 {margin-bottom: 5.5625rem}

.m5 {margin-left: 9rem;margin-top: 9rem;margin-right: 9rem;margin-bottom: 9rem}

.ml-5 {margin-left: 9rem}
.mt-5 {margin-top: 9rem}
.mr-5 {margin-right: 9rem}
.mb-5 {margin-bottom: 9rem}

.mt-mb {margin-block: clamp(0.5rem, 1.3125rem, 5.5625rem);}
.ml-mr {margin-left: clamp(0.1875rem, 2.125rem, 5.5625rem);margin-right: clamp(0.1875rem, 2.125rem, 5.5625rem);}

/* ------------------------------------- Call To Action CTA button styling properties ------------------------------------- */

.cta-button {
    background-color: #ce271f;
    border-radius: .7rem;
    color: #FFEACC;
    cursor: pointer;
    font-family: "Roboto Flex", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .0625em;
    padding: 1rem 1.5rem 1rem 1.5rem;
    -o-transition: background-color 210ms ease-in-out;
    -ms-transition: background-color 210ms ease-in-out;
    -moz-transition: background-color 210ms ease-in-out;
    -webkit-transition: background-color 210ms ease-in-out;
    transition: background-color 210ms ease-in-out;
    outline: 0;
    scroll-behavior: smooth
}

.cta-button:hover {
    background-color: #972721;
}

/* ------------------------------------- Anchor tag button styling properties ------------------------------------- */

.button {
    background-color: var(--button-background-color);
    border-radius: .7rem;
    color: var(--button-text-color);
    cursor: pointer;
    font-family: "Roboto Flex", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .0625em;
    padding: 1rem 1.5rem 1rem 1.5rem;
    -o-transition: background-color 210ms ease-in-out;
    -ms-transition: background-color 210ms ease-in-out;
    -moz-transition: background-color 210ms ease-in-out;
    -webkit-transition: background-color 210ms ease-in-out;
    transition: background-color 210ms ease-in-out;
    outline: 0;
    scroll-behavior: smooth
}

.button:hover {
    background-color: var(--button-hover-background-color);
}
/* ------------------------------------- Special link styling properties ------------------------------------- */

.special-link-color {
    border-radius: .7rem;
    color: var(--special-link-color);
    cursor: pointer;
    font-family: "Roboto Flex", sans-serif;
    font-size: 1.3125rem;
    font-weight: 600;
    letter-spacing: .0625em;
    -o-transition: background-color 210ms ease-in-out;
    -ms-transition: background-color 210ms ease-in-out;
    -moz-transition: background-color 210ms ease-in-out;
    -webkit-transition: background-color 210ms ease-in-out;
    transition: background-color 210ms ease-in-out;
    outline: 0;
    scroll-behavior: smooth
}

.special-link-color:hover {
    color: var(--special-link-hover-color);
}

/* ------------------------------------- Navbar styling properties ------------------------------------- */

.navbar {
    color: var(--paragraph-text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.25rem;
    list-style-type: none;
}

.menu-btn-burger {
    width: 55px;
    height: 7px;
    background-color: var(--paragraph-text-color);
    border-radius: 99px;
    box-shadow: 0 2px 5px rgba(63, 29, 19, 1);
    transition: all 500ms ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 8px;
    background-color: var(--paragraph-text-color);
    border-radius: 99px;
    box-shadow: 0 2px 5px rgba(63, 29, 19, 1);
}

.menu-btn-burger::before {
    transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -o-transition: transform 210ms ease-in-out;
    -ms-transition: transform 210ms ease-in-out;
    -moz-transition: transform 210ms ease-in-out;
    -webkit-transition: transform 210ms ease-in-out;
    transition: transform 210ms ease-in-out;
}

.menu-btn-burger::after {
    transform: translateY(1rem);
    -o-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
    -o-transition: transform 210ms ease-in-out;
    -ms-transition: transform 210ms ease-in-out;
    -moz-transition: transform 210ms ease-in-out;
    -webkit-transition: transform 210ms ease-in-out;
    transition: transform 210ms ease-in-out;
}

/* Navbar Hamburger Menu Icon ANIMATION */
.menu-btn.open .menu-btn-burger {
    transform: translateX(-3.125rem);
    -o-transform: translateX(-3.125rem);
    -ms-transform: translateX(-3.125rem);
    -moz-transform: translateX(-3.125rem);
    -webkit-transform: translateX(-3.125rem);
    -o-transition: transform 210ms ease-in-out;
    -ms-transition: transform 210ms ease-in-out;
    -moz-transition: transform 210ms ease-in-out;
    -webkit-transition: transform 210ms ease-in-out;
    transition: transform 210ms ease-in-out;
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(2.1875rem, -2.1875rem);
    -o-transform: rotate(45deg) translate(2.1875rem, -2.1875rem);
    -ms-transform: rotate(45deg) translate(2.1875rem, -2.1875rem);
    -moz-transform: rotate(45deg) translate(2.1875rem, -2.1875rem);
    -webkit-transform: rotate(45deg) translate(2.1875rem, -2.1875rem);
    -o-transition: transform 210ms ease-in-out;
    -ms-transition: transform 210ms ease-in-out;
    -moz-transition: transform 210ms ease-in-out;
    -webkit-transition: transform 210ms ease-in-out;
    transition: transform 210ms ease-in-out;
}

.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(2.1875rem, 2.1875rem);
    -o-transform: rotate(-45deg) translate(2.1875rem, 2.1875rem);
    -ms-transform: rotate(-45deg) translate(2.1875rem, 2.1875rem);
    -moz-transform: rotate(-45deg) translate(2.1875rem, 2.1875rem);
    -webkit-transform: rotate(-45deg) translate(2.1875rem, 2.1875rem);
    -o-transition: transform 210ms ease-in-out;
    -ms-transition: transform 210ms ease-in-out;
    -moz-transition: transform 210ms ease-in-out;
    -webkit-transition: transform 210ms ease-in-out;
    transition: transform 210ms ease-in-out;
}


.navbar-list-items {
    list-style-type: none;
}

.navbar-list-items .navbar-list-item {
    display: inline-block;
    padding: 0 1rem;
}

.navbar a {
    color: var(--paragraph-text-color);
    text-decoration: none;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

nav .active-navbar-link {
    color: var(--active-link-color);
    -o-transition: color 210ms ease-in-out;
    -ms-transition: color 210ms ease-in-out;
    -moz-transition: color 210ms ease-in-out;
    -webkit-transition: color 210ms ease-in-out;
    transition: color 210ms ease-in-out;
}

.navbar-link {
    color: var(--paragraph-text-color);
}

.navbar-link::after {
    content: '';
    display: block;
    width: 0;
    height: 0.3125rem;
    border-radius: 0.8125rem;
    background: var(--paragraph-text-color);
    -o-transition: width 210ms ease-in-out;
    -ms-transition: with 210ms ease-in-out;
    -moz-transition: width 210ms ease-in-out;
    -webkit-transition: width 210ms ease-in-out;
    transition: width 210ms ease-in-out;
}



.navbar-link:hover::after {
    width: 100%;
    color: var(--paragraph-text-color);
    -o-transition: width 210ms ease-in-out;
    -ms-transition: with 210ms ease-in-out;
    -moz-transition: width 210ms ease-in-out;
    -webkit-transition: width 210ms ease-in-out;
    transition: width 210ms ease-in-out;
}

.brand-logo {
    flex-grow: 1;
}

.menu-btn {
    display: none;
}


@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        position: relative;
    }

    .navbar .brand-logo {
        width: 100%;
    }

    .menu-btn {
        display: block;
        position: absolute;
        top: 70px;
        right: 15px;
    }

    .navbar-list-items {
        list-style-type: none;
        width: 100%;
        text-align: left;
        padding-top: 1rem;
        display: none;
    }

    .navbar-list-items .navbar-list-item {
        display: block;
        padding: .5rem 0;
    }

    .active {
        display: block;
    }
}

/* ------------------------------------- Dark and Light Mode button styling properties ------------------------------------- */

#lightAndDarkModeSwitch {
    text-align: right;
    background-color: var(--theme-switch-background-color)
}

.theme-switch input[type=checkbox] {
    display: none
}

.theme-switch label {
    background-color: #FFEACC;
    box-shadow: 0 0 .1rem .15rem #000 inset;
    border: .15rem solid #BE3A34;
    border-radius: 5rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -o-transition: 300ms cubic-bezier(.35, .51, .1, .83);
    -ms-transition: 300ms cubic-bezier(.35, .51, .1, .83);
    -moz-transition: 300ms cubic-bezier(.35, .51, .1, .83);
    -webkit-transition: 300ms cubic-bezier(.35, .51, .1, .83);
    transition: 300ms cubic-bezier(.35, .51, .1, .83);
    width: 69px;
    height: 31px
}

.theme-switch label::after {
    background-color: #BE3A34;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    -o-transition: 300ms cubic-bezier(.35, .51, .1, .83);
    -ms-transition: 300ms cubic-bezier(.35, .51, .1, .83);
    -moz-transition: 300ms cubic-bezier(.35, .51, .1, .83);
    -webkit-transition: 300ms cubic-bezier(.35, .51, .1, .83);
    transition: 300ms cubic-bezier(.35, .51, .1, .83);
    width: 27px;
    height: 27px
}

.theme-switch input[type=checkbox]:checked~label {
    background-color: #75312D;
    border-color: #BE3A34
}

.theme-switch input[type=checkbox]:checked~label::after {
    background-color: #BE3A34;
    -webkit-transform: translateX(38.5px);
    -ms-transform: translateX(38.5px);
    -moz-transform: translateX(38.5px);
    -o-transform: translateX(38.5px);
    transform: translateX(38.5px)
}